*/pics/*
*/save_mode/*
*/__pycache__/*
*.pyc
.vscode/*
native/files/*.csv
native/libs/*
native/obj/*
*/models/*
kd_tree/*
power/*.txt
temp_file/*
output.csv
temp.py
temp.txt
dqn_model_episode_*
*/android-ndk-r10b/*
*/my_model_*/
temp/*

